<!--
 Copyright (c) 2014, 2016, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<h1>Input:</h1>
<div id="divInput">
    
    <textarea id="inputText" rows="10" data-bind="ojComponent: {component: 'ojTextArea', value: inputText, rootAttributes: {style:'max-width:90%'}}">
    </textarea>
    
    <label for="inputLang">Source:</label>
    <select id="inputLang" data-bind="ojComponent: {component: 'ojSelect', options: langs, value: valSource,
                                                    rootAttributes: {style:'max-width:20em'}}">
    </select>

    <p>
    <button id="btnSwapLangs" title="Swap languages" data-bind="click: swapLangsClick,
        ojComponent: {
        component:'ojButton', 
        chroming: 'outlined',
        display: 'icons', 
        icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon', end:'oj-fwk-icon-caret-end oj-fwk-icon'}, 
        label: ''}"></button>    
    </p>
    
    <label for="outputLang">Target:</label>
    <select id="outputLang" data-bind="ojComponent: {component: 'ojSelect', options: langs, value: valTarget,
                                                    rootAttributes: {style:'max-width:20em'}}">
    </select>

    <p>
        <button id="btnTranslate" title="Translate input Ctrl+Enter" data-bind="click: translateClick, 
                       ojComponent: { component: 'ojButton', label: 'Translate' }">
        </button>
    </p>
</div>
