<!--
 Copyright (c) 2014, 2016, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<h1>Result:</h1>
<div id="divOutput">
    <textarea id="outputText" rows="10" data-bind="ojComponent: {component: 'ojTextArea', value: outputText, readOnly: true, rootAttributes: {style:'max-width:90%'}}"></textarea>
</div>
