<!--
 Copyright (c) 2014, 2016, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<h2>Previous search (from local storage):</h2>
<div id="divPrev">

<h5>From <span data-bind="text: prevSource" class="text-upper"></span>:</h5>
<div id="prevInputText" data-bind="text: prevInputText"></div>    

<h5>To <span data-bind="text: prevTarget" class="text-upper"></span>:</h5>
<div id="prevOutputText" data-bind="text: prevOutputText"></div>            

</div>
